body{
	font-size: 90%;
	font-family: helvetica neue, helvetica, sans-serif;
	padding: 0px;
	margin: 0;
	background: #EEF3F8;
}
/* EVERYTHING SHADDOWS HERE */
.centrebox, .box, .box-nopad, .box-toppad, .error, .done, .headerbox, .dropout{
  -moz-box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow: 0px 0px 5px #ccc;
}
.dropout{
	z-index: 1;
	background: #82CAFF;
	margin-top: -10px !important;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
}
.dropout li{
	list-style-type: none;
}
.dropout li a{
	color: #fff;
	width: 47%;
	padding: 10px;
	margin: 4px;
	float: left;
	background: #ADDFFF;
	text-decoration: none;
}
abbr{
	border-bottom: 1px dashed #0066cc;
	color: #0066cc;
	cursor: hand;
}
.secure-password{
	background: url(res/lock.png) no-repeat;
	background-position: right center; 
	padding-right: 20px;
}
#secured{
	display: inline;
	color: #000;
	padding: 5px;
	float: right;
}
.cb.selected{ border-color:#ccc; }
.cb{
	float: right;
	width:18px;
	border: 2px solid #000;
	height:18px;
	background:#000;
	border-radius:5px 5px;
	margin: 5px;
	cursor: hand;
}
.tabs{ padding: 0px }
.tabs a.selected{ border-bottom: 5px solid #0066cc; }
.tabs a{
	text-decoration: none;
	color: #333;
	padding: 5px;
}
#sheet{	
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	text-size: 30px;
	display: none;
	height: 100%;
	background: #000;
	color: #fff;
	text-align: center;
}
.w980{ margin: 0 auto; width: 980px }
.most{ width: 80%; }
.left{ float: left; }
.right{ float: right; }
.hide{ display: none }
.pad10{ padding: 5px; }
.clear{ clear: both; }
th{ padding: 0 20px; }
.centrebox, .box{
	margin: 10px;
}
.box-toppad{
	margin-top: 10px;
}
.centrebox, .box, .box-nopad, .box-toppad{
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px 5px;	
}
.inline{ display: inline }
.left-col{ width: 588px; }
.right-col{ width: 294px; }
.left-col, .right-col{float:left}
.reset{clear:both}
.centrebox{
	margin: 80px auto;
	width: 460px;
}
.title{ font-size: 30px; }
.subtitle{ font-size: 20px }
.small{ font-size: 75% !important; }
.smallinput{ font-size: 12px !important; width: default !important; }
input[type=text], input[type=password], select{
	padding: 6px;
	margin: 6px 0px;
	border: 1px solid #999;
}
.toolbar img.selected{ background: #ccc; }
.toolbar img{ padding: 5px; border: 1px solid #fff; cursor: hand; }
.toolbar img:hover{ background: #ccc; border: 1px solid #999; }
input[type=text], input[type=password]{
	width: 100%;
	font-size: 20px;
}
.error,.done{
	margin: 5px;
	padding: 10px;
	border: 2px solid;
}
.done{
	border: #00c000;
	background: #ccffcc;
}
.error{
	border: #ff3300;
	background: #ff9966;
}
#wcontent > div, body > form > div, body>div{ padding: 10px; }
.headerbox{
	background: #006699;
	color: #fff;
	z-index: 12;
	font-size: 25px;
}
#quickly table{
	width: 100%;
	font-size: 25px;
}
#quickly input{
	
}
.sep{ border-right: 1px solid #fff; width: 0px; margin-right: 2px; }
.headerbox a{ color: #fff !important; }
hr{
	margin: 3px;
	border: none;
	border-top: 1px solid #999;
}
/* why do this? Stop scrollbars if we want to multi-task! */
@media (max-width: 980px) { 
	.dropout{ margin-top: -3px !important; }
	.dropout li{
		width: auto;
		display: block;
		float: none;
	}
	.centrebox, .box, .box-nopad{
		padding: 10px;
		margin: 3px;
	}
	.w980{ margin: 0; width: auto; }
	#wcontent > div, body > form > div, body>div{
		padding: 3px;
	}
	.headerbox{ font-size: 20px }
	.left-col, .right-col{ width: auto; float: none; }
	.centrebox{
		width: auto;
		margin: 0;
	}
}
