body{
	font-size: 90%;
	font-family: helvetica neue, helvetica, sans-serif;
	padding: 0px;
	margin: 0;
	background: #EEF3F8;
}
.cb.selected{ border-color:#ccc; }
.cb{
	float: right;
	width:18px;
	border: 2px solid #000;
	height:18px;
	background:#000;
	border-radius:5px 5px;
	margin: 5px;
	cursor: hand;
}
.w980{ margin: 0 auto; width: 980px }
.most{ width: 80%; }
.left{ float: left; }
.right{ float: right; }
.hide{ display: none }
.pad10{ padding: 5px; }
.clear{ clear: both; }
th{ padding: 0 20px; }
.centrebox, .box{
	margin: 10px;
}
.centrebox, .box, .box-nopad{
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px 5px;	
}
.inline{ display: inline }
.left-col{ width: 588px; }
.right-col{ width: 294px; }
.left-col, .right-col{float:left}
.reset{clear:both}
.centrebox{
	margin: 80px auto;
	width: 460px;
}
.title{ font-size: 30px; }
.subtitle{ font-size: 20px }
.small{ font-size: 75% !important; }
.smallinput{ font-size: 12px !important; width: default !important; }
input[type=text], input[type=password], select{
	padding: 6px;
	margin: 6px 0px;
	border: 1px solid #999;
}
.toolbar img.selected{ background: #ccc; }
.toolbar img{ padding: 5px; border: 1px solid #fff; cursor: hand; }
.toolbar img:hover{ background: #ccc; border: 1px solid #999; }
input[type=text], input[type=password]{
	width: 100%;
	font-size: 20px;
}
.error,.done{
	margin: 5px;
	padding: 10px;
	border: 2px solid;
}
.done{
	border: #00c000;
	background: #ccffcc;
}
.error{
	border: #ff3300;
	background: #ff9966;
}
#wcontent > div, body > form > div, body>div{ padding: 10px; }
.headerbox{
	background: #006699;
	color: #fff;
	font-size: 25px;
}
.sep{ border-right: 1px solid #fff; width: 0px; margin-right: 2px; }
.headerbox a{ color: #fff !important; }
hr{
	margin: 3px;
	border: none;
	border-top: 1px solid #999;
}
.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.wraptocenter * {
    vertical-align: middle;
}
/*\*//*/
.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/
/* why do this? Stop scrollbars if we want to multi-task! */
@media (max-width: 980px) { 
	.centrebox, .box, .box-nopad{
		padding: 10px;
		margin: 3px;
	}
	.w980{ margin: 0; width: auto; }
	#wcontent > div, body > form > div, body>div{
		padding: 3px;
	}
	.headerbox{ font-size: 20px }
	.left-col, .right-col{ width: auto; float: none; }
	.centrebox{
		width: auto;
		margin: 0;
	}
}